- title 'Edit Unit'

= form_tag(controller: :clinics, action: :update_unit, method: :post) do
  .clearfix
    = label_tag :selected_unit_code, 'Unit Selection'
    .input
      = select_tag :selected_unit_code, clinics_unit_options, {class: 'large'}
  .clearfix
    = label_tag :updated_unit_name, 'Unit Name'
    .input
      = text_field_tag :updated_unit_name
      = required
  .actions
    = submit_tag 'Save', class: 'btn primary'
    = link_to 'Back', clinics_path, class: 'btn'