- title 'Clinics'

- content_for :tabs do
  = render 'admin/users/tabs'

= form_tag clinics_path, method: :get, id:'filter_by_unit', class: 'listing_filter' do
  = label_tag :clinics_unit_filter, 'Filter by Unit'
  = select_tag :clinics_unit_filter, clinics_unit_filter_options(@clinic_filter[:unit]), {class: 'large'}
  = hidden_field_tag :sort, sort_column
  = hidden_field_tag :direction, sort_direction
  = submit_tag 'Filter'

= link_to 'New Clinic', new_clinic_path, id: 'new_clinic', class: 'btn'

= link_to 'Edit Unit', edit_unit_clinics_path, id: 'edit_unit', class: 'btn'

%table#clinics
  %thead
    %tr.sortable
      %th= sortable 'unit_code'
      %th= sortable 'unit_name'
      %th= sortable 'site_code'
      %th= sortable 'site_name'
      %th= sortable 'state'
      %th= sortable 'active', 'Status'
      %th Actions
  %tbody
    - @clinics.each do |clinic|
      %tr{class: cycle('field_bg', 'field_nobg')}
        %td= clinic.unit_code
        %td= clinic.unit_name
        %td= clinic.site_code
        %td= clinic.site_name
        %td= clinic.state
        - if clinic.active
          %td= 'Active'
        - else
          %td= 'Deactivated'
        %td
          - if clinic.active
            = link_to 'Deactivate', deactivate_clinic_path(clinic), class: 'btn', method: :post, data: {confirm: 'Are you sure? Deactivating a clinic will deallocate all users from that clinic. User accounts with no other clinics will also be deactivated.'}
          - else
            = link_to 'Activate', activate_clinic_path(clinic), class: 'btn', method: :post
          - if can?(:edit, clinic)
            = link_to 'Edit Site', edit_clinic_path(clinic), id: "edit_clinic_#{clinic.id}", class: 'btn'