-# ANZARD - Australian & New Zealand Assisted Reproduction Database
-# Copyright (C) 2017 Intersect Australia Ltd
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program. If not, see <http://www.gnu.org/licenses/>.

- title 'Clinics'

- content_for :tabs do
  = render 'admin/users/tabs'

= form_tag clinics_path, method: :get, id:'filter_by_unit', class: 'listing_filter' do
  = label_tag :clinics_unit_filter, 'Filter by Unit'
  = select_tag :clinics_unit_filter, clinics_unit_filter_options(@clinic_filter[:unit]), {class: 'large'}
  = hidden_field_tag :sort, sort_column
  = hidden_field_tag :direction, sort_direction
  = submit_tag 'Filter'

= link_to 'New Clinic', new_clinic_path, id: 'new_clinic', class: 'btn'

= link_to 'Edit ANZARD Unit', edit_unit_clinics_path, id: 'edit_unit', class: 'btn'

%table#clinics
  %thead
    %tr.sortable
      %th= sortable 'unit_code', 'ANZARD Unit'
      %th= sortable 'unit_name', 'ANZARD Unit Name'
      %th= sortable 'site_code', 'ART Unit'
      %th= sortable 'site_name', 'ART Unit Name'
      %th= sortable 'state'
      %th= sortable 'active', 'Status'
      %th Actions
  %tbody
    - @clinics.each do |clinic|
      %tr{class: cycle('field_bg', 'field_nobg')}
        %td= clinic.unit_code
        %td= clinic.unit_name
        %td= clinic.site_code
        %td= clinic.site_name
        %td= clinic.state
        - if clinic.active
          %td= 'Active'
        - else
          %td= 'Deactivated'
        %td
          - if can?(:edit, clinic)
            = link_to 'Edit ART Unit', edit_clinic_path(clinic), id: "edit_clinic_#{clinic.id}", class: 'btn edit_clinic'
          - if clinic.active
            = link_to 'Deactivate', deactivate_clinic_path(clinic), class: 'btn', method: :post, data: {confirm: 'Are you sure? Deactivating a clinic will deallocate all users from that clinic. User accounts with no other clinics will also be deactivated.'}
          - else
            = link_to 'Activate', activate_clinic_path(clinic), class: 'btn', method: :post