- content_for :title do
  = 'New Batch Upload'

%p Please select the treatment data and the file you want to upload. You will also need to select a primary site to associate the batch upload with.
%p Note: Any user that has access to the selected site will be able to review the status of the uploaded file.

= form_for @batch_file do |f|
  %fieldset
    = render 'shared/error_messages', target: @batch_file
    .clearfix
      = label_tag 'unit', 'Unit'
      .input
        = text_field_tag 'unit', current_user.clinics.first.unit_name_with_code, disabled: true # All user clinics are from the same unit
    .clearfix
      = f.label :clinic_id, 'Primary Site'
      .input
        = f.collection_select :clinic_id, current_user.clinics, :id, :site_name_with_full_code, {},  {:class => 'large'}
        = required
    .clearfix
      = f.label :survey_id, 'Treatment data'
      .input
        = f.collection_select :survey_id, surveys, :id, :name, {:include_blank => 'Please select'}, {:class => 'large'}
        = required
    .clearfix
      = f.label :year_of_registration, 'Year of treatment'
      .input
        = f.select :year_of_registration, year_of_registration_range.reverse, {:include_blank => 'Please select'}, {:class => 'medium'}
        = required
    .clearfix
      = f.label :file, 'File'
      .input
        = f.file_field :file, class: 'batchupload'
        = required

    - supplementary_counter = 0
    - group_names_by_survey.each do |survey_id, group_names|
      .supplementary_group{id: "supplementary_#{survey_id}"}
        %h3 Supplementary files
        %p If you wish, you can supply the following data as separate tables
        - group_names.each do |group_name|
          - prefix = "supplementary_files[#{supplementary_counter}]"
          = hidden_field_tag "#{prefix}[multi_name]", group_name
          .clearfix
            = label_tag "#{prefix}[file]", group_name
            .input
              = file_field_tag "#{prefix}[file]", class: 'batchupload'
          - supplementary_counter += 1

    .actions
      = f.submit "Upload", class: "btn primary"
      = link_to 'Cancel', root_path, class: "btn"
