-# ANZARD - Australian & New Zealand Assisted Reproduction Database
-# Copyright (C) 2017 Intersect Australia Ltd
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program. If not, see <http://www.gnu.org/licenses/>.

- title 'New Batch Upload'

%p Please select the treatment data and the file you want to upload. You will also need to select a site to associate the batch upload with.
%p Note: Any user that has access to the selected site will be able to review the status of the uploaded file.

= form_for @batch_file do |f|
  %fieldset
    = render 'shared/error_messages', target: @batch_file
    .clearfix
      = label_tag 'unit', "#{current_capturesystem.name} Unit Name"
      .input
        = text_field_tag 'unit', current_user.clinics.first.unit_name_with_code, disabled: true # All user clinics are from the same unit
    .clearfix
      = f.label :clinic_id, 'ART Unit'
      .input
        = f.collection_select :clinic_id, current_user.clinics, :id, :site_name_with_full_code, {},  {:class => 'large'}
        = required
    .clearfix
      = f.label :year_of_registration, 'Year of treatment'
      .input
        = f.select :year_of_registration, year_of_registration_range.reverse, {:include_blank => 'Please select'}, {:class => 'medium'}
        = required
    .clearfix
      = f.label :survey_id, 'Treatment data'
      .input
        = f.select :survey_id, [], {include_blank: "No data for selected year"}, {class: 'large'}
        = required
    .clearfix
      = f.label :file, 'File'
      .input
        = f.file_field :file, class: 'batchupload'
        = required

    .actions
      = f.submit "Upload", class: "btn primary"
      = link_to 'Cancel', batch_files_path, class: "btn"
