-# ANZARD - Australian & New Zealand Assisted Reproduction Database
-# Copyright (C) 2017 Intersect Australia Ltd
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program. If not, see <http://www.gnu.org/licenses/>.

.topbar
  .topbar-inner
    .container
      - if !current_capturesystem.nil?
        .brand{onclick: "$('input[name=\"system_url\"]').val('#{master_site_base_url}');document.request_goto.submit();"} NPESU Home
      -#.brand #{current_capturesystem&.long_name||'National Perinatal Epidemiology and Statistics Unit'}
      = tabs_tag(builder: MenuTabBuilder) do |tab|
        %ul.nav
          %li
          - unless request.fullpath == '/'
            = tab.home((current_capturesystem&.name || 'NPESU') + ' Home', root_path)

          = tab.manual 'User Manual', '/user_manual/index.html'
        %ul.nav.secondary-nav
          - if user_signed_in?
            = (tab.admin 'Admin', admin_users_path) if !at_master_site? && can?(:read, User)
            - if at_master_site?
              = tab.editaccount current_user.email, users_profile_path, class: "user"
            - #= tab.editaccount current_user.email, at_master_site? ? users_profile_path : root_path, class: "user"
            - # it might be better to display login use email always 
            = tab.logout "Logout", destroy_user_session_path, class: "logout"
          - else
            - if current_capturesystem.nil?
              = tab.signup "Request An Account", new_user_registration_path, class: "signup"

          -#- if user_signed_in? && current_user.role.name == Role::SUPER_USER
            -#%li
              -#= select_tag 'select_system', options_for_select(capturesystems_for_user(current_user), "#{request.protocol}#{request.host}:#{request.port}"),
                -#{ class: "form-control form-control-lg large", onchange: "{ $('input[name=\"system_url\"]').val(this.value);document.request_goto.submit();}"}

          = form_tag "#{request.protocol}#{request.host}:#{request.port}/goto_system", name: :request_goto, method: :post do
            = hidden_field_tag 'system_url', ""
            = hidden_field_tag 'from_url', "#{request.protocol}#{request.host}:#{request.port} "
            %input{name:'commit', type:'submit', value:'goto_system', style:'display:none;'}