- if user_signed_in?
  - if current_capturesystem.nil?
    - title 'Welcome to NPESU Home'
    #landing_container
      .container_landing
      = render 'system_selection'
  - else
    = render "pages/#{current_capturesystem.name}/home"

- else
  - title 'NPESU Home'
  #content_container
    .container_home
      = form_for("user", url: user_session_path) do |f|
        = render(partial: 'devise/sessions/form', locals: { f: f })
