-# ANZARD - Australian & New Zealand Assisted Reproduction Database
-# Copyright (C) 2017 Intersect Australia Ltd
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program. If not, see <http://www.gnu.org/licenses/>.

- content_for :title do
  = "New Data Entry Form"

= form_for @response do |f|
  %fieldset
    = render "shared/error_messages", target: @response
    .clearfix
      = f.label :year_of_registration, "Year of Treatment"
      .input
        = f.select :year_of_registration, year_of_registration_range.reverse, {:include_blank => "Please select"}, {:class => "medium"}
        = required
    .clearfix
      = f.label :survey_id, "Treatment Data"
      .input
        = f.collection_select :survey_id, surveys, :id, :name, {:include_blank => "Please select"}, {:class => "large"}
        = required
    .clearfix
      = label_tag 'unit', 'Unit'
      .input
        = text_field_tag 'unit', current_user.clinics.first.unit_name_with_code, disabled: true # All user clinics are from the same unit
    .clearfix
      = f.label :clinic_id, 'Site'
      .input
        = f.collection_select :clinic_id, current_user.clinics, :id, :site_name_with_full_code, {},  {:class => "large"}
        = required
    .clearfix
      = f.label :cycle_id, 'Cycle ID'
      .input
        = f.text_field :cycle_id, placeholder: 'Code uniquely identifying this cycle', size: Response::CYCLE_ID_MAX_SIZE, maxlength: Response::CYCLE_ID_MAX_SIZE
        = required
    .actions
      = f.submit "Save", class: "btn primary"
      = link_to 'Cancel', root_path, class: "btn"
