- content_for :title do
  = "New Data Entry Form"

= form_for @response do |f|
  %fieldset
    = render "shared/error_messages", target: @response
    .clearfix
      = f.label :survey_id, "Treatment Data"
      .input
        = f.collection_select :survey_id, surveys, :id, :name, {:include_blank => "Please select"}, {:class => "large"}
        = required
    .clearfix
      = f.label :year_of_registration, "Year of Treatment"
      .input
        = f.select :year_of_registration, year_of_registration_range, {:include_blank => "Please select"}, {:class => "medium"}
        = required
    .clearfix
      = f.label :cycle_id, "Cycle ID"
      .input
        = f.text_field :cycle_id
        = required
    .clearfix
      = label_tag 'unit', 'Clinic'
      .input
        = text_field_tag 'unit', current_user.clinics.first.unit_name_with_code, disabled: true # All user clinics are from the same unit
    .clearfix
      = f.label :clinic_id, "Site"
      .input
        = f.collection_select :clinic_id, current_user.clinics, :id, :site_name_with_full_code, {},  {:class => "large"}
        = required
    .actions
      = f.submit "Save", class: "btn primary"
      = link_to 'Cancel', root_path, class: "btn"
