-# ANZARD - Australian & New Zealand Assisted Reproduction Database
-# Copyright (C) 2017 Intersect Australia Ltd
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program. If not, see <http://www.gnu.org/licenses/>.

= render 'pages/nav'
- title 'Download Data'

= form_tag download_responses_path, method: :get do
  %fieldset
    - unless @errors.blank?
      #form_errors.alert-message.block-message.error
        %ul
          -@errors.each do |msg|
            %li= msg
    .clearfix
      = label_tag :survey_id, "Treatment Data"
      .input
        = select_tag :survey_id, options_from_collection_for_select(surveys, :id, :name, @survey_id), {class: "large", prompt: "Please select"}
        = required
    .clearfix
      = label_tag :unit_code, 'Unit'
      .input
        = select_tag :unit_code, grouped_options_for_select(Clinic.units_by_state_with_unit_code, @unit_code), {prompt: "ALL", class: 'large'}
        = required
    .clearfix
      = label_tag :site_code, "Site"
      .input
        = select_tag :site_code, nil, {prompt: "ALL", class: 'large'}
    .clearfix
      = label_tag :year_of_registration, "Year of Treatment"
      .input
        = select_tag :year_of_registration, options_for_select(existing_years_of_registration, @year_of_registration), {prompt: "ALL", class: "medium"}
        = required
    .actions
      = submit_tag "Download", class: "btn primary"
