-# ANZARD - Australian & New Zealand Assisted Reproduction Database
-# Copyright (C) 2017 Intersect Australia Ltd
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program. If not, see <http://www.gnu.org/licenses/>.

- content_for :nav do
  = render 'pages/nav'

- title 'Submission Summary', false, true

%div{class: "centered_wrapper"}
  - if not @responses.blank?
    = link_to "Download Summary", download_submission_summary_responses_path, class: 'btn'

%table#submission_summary.bordered-table
  %thead
    %tr
      %th Treatment Data
      %th Year of Treatment
      %th ANZARD Unit
      %th ART Unit
      %th Status
      %th Records
      -#%th Users
    %tbody
      - submission_summary_data.each do |summary|
        %tr
          %td= summary[:survey_name]
          %td= summary[:year]
          %td= summary[:unit_name]
          %td= summary[:site_code]
          %td= summary[:status]
          %td= summary[:num_records]
          -#%td= summary[:users]
