.clearfix
  = f.label :role_id, "Role"
  .input
    = f.collection_select :role_id, @roles, :id, :name, {include_blank: ""}, {class: 'large'}
.clearfix#clinic_fields
  = f.label :clinic_id, "Clinic"
  .input
    -# ToDo: update view so that form options includes all clinics user is associated with
    = f.select :clinic_id, grouped_options_for_select(Clinic.clinics_by_state_with_site_name, @user.clinic_id), {include_blank: ""}


:javascript
  $(window).load(function() {
    hide_clinic_if_required();
  });

  $('#user_role_id').change(function() {
    hide_clinic_if_required();
  });

  function hide_clinic_if_required() {
    if ($('#user_role_id :selected').text() == "#{Role.super_user_role}") {
      $('#clinic_fields').hide();
    } else {
      $('#clinic_fields').show();
    }
  }

