-# ANZARD - Australian & New Zealand Assisted Reproduction Database
-# Copyright (C) 2017 Intersect Australia Ltd
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program. If not, see <http://www.gnu.org/licenses/>.

.clearfix
  = f.label :role_id, 'Role'
  .input
    = f.collection_select :role_id, @roles, :id, :name, {include_blank: ""}, {class: 'large'}

.clearfix#clinic_units
  = label_tag :clinic_unit, 'ANZARD Unit'
  .input
    = select_tag :clinic_unit, grouped_options_for_select(Clinic.units_by_state_with_unit_code(current_capturesystem), @user.allocated_unit_code), include_blank: true, disabled: disable_unit_select, class: 'large'

.clearfix#clinic_sites
  = f.label :clinic_ids, 'ART Unit'
  .input#user_clinics
    -# Collection checkbox used for initial rendering and editing access level. The content of this input is replaced by JS when the user selects a different unit.
    = f.collection_check_boxes :clinic_ids, Clinic.clinics_with_unit_code(current_capturesystem, @user.allocated_unit_code, true), :id, :site_name_with_full_code do |b|
      = content_tag'div', class: 'clinic_site' do
        = b.label(:'data-value' => b.value, class: 'check_box_label') { b.check_box + b.text }

:javascript
  $(window).load(function() {
    hide_clinic_if_required();
  });

  $('#user_role_id').change(function() {
    hide_clinic_if_required();
  });

  function hide_clinic_if_required() {
    if ($('#user_role_id :selected').text() == "#{Role.super_user_role}") {
      $('#clinic_units').hide();
      $('#clinic_sites').hide();
    } else {
      $('#clinic_units').show();
      $('#clinic_sites').show();
    }
  }

