.clearfix
  = f.label :role_id, 'Role'
  .input
    = f.collection_select :role_id, @roles, :id, :name, {include_blank: ""}, {class: 'large'}

.clearfix#clinic_units
  = label_tag :clinic_unit, 'Clinic'
  .input
    = select_tag :clinic_unit, grouped_options_for_select(Clinic.clinics_by_state_and_unique_by_unit, @user.unit_code), include_blank: true, class: 'large'
    -#= select_tag :clinic_unit, grouped_options_for_select(Clinic.clinics_by_state_and_unique_by_unit, @user.unit_code), include_blank: true, disabled: true, class: 'large'

.clearfix
  = f.label :clinic_ids, 'Sites'
  .input#user_clinics
    -# Collection checkbox used for initial rendering and editing. The content of this input is replaced by JS when the user selects a different unit.
    = f.collection_check_boxes :clinic_ids, Clinic.clinics_with_unit_code(@user.unit_code), :id, :site_name_with_full_code do |b|
      = content_tag'div', class: 'clinic_site' do
        = b.label(:'data-value' => b.value, class: 'check_box_label') { b.check_box + b.text }

:javascript
  $(window).load(function() {
    hide_clinic_if_required();
  });

  $('#user_role_id').change(function() {
    hide_clinic_if_required();
  });

  function hide_clinic_if_required() {
    if ($('#user_role_id :selected').text() == "#{Role.super_user_role}") {
      $('#clinic_fields').hide();
    } else {
      $('#clinic_fields').show();
    }
  }

