- content_for :tabs do
  = render 'tabs'

- title 'Current Users'

= form_tag admin_users_path, method: :get, id:'filter_by_unit', class: 'user_filter' do
  = label_tag :clinic_unit_filter, 'Filter by Unit'
  = select_tag :clinic_unit_filter, clinic_unit_filter_options(@clinic_filter[:unit]), {class: 'large'}
  = hidden_field_tag :sort, sort_column
  = hidden_field_tag :direction, sort_direction
  = submit_tag 'Filter'

= form_tag admin_users_path, method: :get, id: 'filter_by_site', class: 'user_filter'  do
  = label_tag :clinic_site_filter, 'Filter by Site'
  = select_tag :clinic_site_filter, clinic_site_filter_options(@clinic_filter[:unit_and_site]), {class: 'large'}
  = hidden_field_tag :sort, sort_column
  = hidden_field_tag :direction, sort_direction
  = submit_tag 'Filter'

%table#users
  %thead
    %tr.sortable
      %th= sortable 'first_name'
      %th= sortable 'last_name'
      %th= sortable 'email'
      %th= sortable 'roles.name', 'Role'
      %th= sortable 'allocated_unit_code', 'Unit'
      %th Sites
      %th= sortable 'status'
      %th= sortable 'last_sign_in_at', 'Last signed in'
      %th Actions
  %tbody
    - @users.each do |user|
      %tr{class: cycle('field_bg', 'field_nobg')}
        %td= user.first_name
        %td= user.last_name
        %td= user.email
        %td= user.role.name if user.role
        - if user.clinics.empty?
          %td (None)
          %td (None)
        - else
          - user_clinics = "#{user.clinics.first.site_name} (#{user.clinics.first.state})"
          - user_clinics += " & #{user.clinics.count - 1} other site#{'s' if user.clinics.count > 2}" if user.clinics.count > 1
          %td= user.clinics.first.unit_name_with_code
          %td= user_clinics
        %td
          - if user.status == 'A'
            Active
          - else
            Deactivated
        %td
          - if user.last_sign_in_at.nil?
            Never logged in
          - else
            = user.last_sign_in_at.localtime.strftime("%d/%m/%Y %I:%M%p")
        %td
          %p
            = link_to "View Details", admin_user_path(user), id: "view_#{user.id}", class: 'btn'
          - if can?(:update_role, User)
            = link_to 'Edit Access Level', edit_role_admin_user_path(user), id: "edit_role_#{user.id}", class: 'btn'
